<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gani.androidtraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        /* Main Activity */
        <activity
            android:name=".DasboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /* Normal Activities */
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".Fagment.FragmentsHomeActivity"
            android:label="@string/title_activity_fragments_home" />
        <activity
            android:name=".Fagment.FragmentsHomeAddReplaceActivity"
            android:label="@string/title_activity_fragments_home_add_replace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Service.ServiceDemoActivity" />
        <activity android:name=".Service.ServiceDemoNextPageActivity" />
        <activity android:name=".BroadCastReceivers.BroadCastReceiverActivity" />
        /* Services and broadcast receivers */
        <service android:name=".Service.DemoAudioService" />

        <receiver android:name=".BroadCastReceivers.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.gani.mybroadcast" />
            </intent-filter>
        </receiver>

        <activity android:name=".IntentsDemo.IntentDemoActivity" />
        <activity android:name=".CustomComponents.CustomCumponentsActivity"></activity>
    </application>

</manifest>